openapi: '3.0.0'
info:
  version: 1.0.0
  title: Coterie
  license:
    name: MIT
servers:
  - url: https://api.coterie.com/v1
paths:
  /documents:
    get:
      summary: List documents
      description: Retrieves a paginated list of documents available in Coterie. Use limit parameter to control page size.
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create document
      operationId: createDocuments
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Get document
      description: Retrieves detailed information about a specific document in Coterie. Use this when you need the full metadata for a document.
      operationId: showDocumentById
      parameters:
        - name: documentId
          in: path
          required: true
          description: The id of the document to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}/versions:
    get:
      summary: List versions
      description: Retrieves the version history for a specific document. Use this to inspect previous published or draft revisions.
      operationId: listDocumentVersions
      parameters:
        - name: documentId
          in: path
          required: true
          description: The id of the document to retrieve versions for
          schema:
            type: string
      responses:
        200:
          description: An paged array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports:
    get:
      summary: List reports
      description: Retrieves a paginated list of documentation reports in Coterie. Use this to review publishing activity and content health.
      operationId: listReports
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string